:root{
    --cor_nav:#21188C;
    --cor_background:#FFFFFF;
    --cor_table:#00BCFF;
}
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url();
@import url('components/card.css');
@import url('components/footer.css');
@import url('components/navbar.css');
@import url('components/sidebar.css');
@import url('components/table.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color:var(--cor_nav);
    grid-column: 2;
    grid-row: 1;
    /* grid-area: nav; */
    height: 80px;
    position: fixed;
    width: 250px;


}

 
aside {
    background-color: var(--cor_nav);
    /* grids-area: sidebar; */
    grid-column: 1;
    grid-row: 1 / 4;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
main {
    /* background-color: #A3D5DB; */
    background-color:var(--cor_background);
    color: #4D53DB;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 1;
    overflow: auto;
}
 
footer {
    /* background-color: #72DBDB; */
    background-color: var(--cor_background);
    /* grid-area: footer; */
    bottom: 0;
    grid-column: 2;
    grid-row: 3;
    

}
 
 
body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 68px 1fr 22px;
    /* background-color: #72DBDB */
   
}
 
p{
    margin: 20px 0;
}
 
@media screen and (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 48px 1fr 22px;
    }
}

/* css */
.table{
    width: 1080px;
    background-color: #EDF2EF;
    /* background-color: #A3D5DB; */
    border-radius: 10px;
    border-collapse: collapse;
    border-color: var(--cor-branco);
    thead, th, tbody, td, tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        font-family: "Agdasima", serif;
        font-weight: 600;

    }

    th, td{
        border-bottom-width: 2px;
        padding: 0.7rem;
        text-align: left;
    }

    tbody tr:nth-child(even){
        background-color: var(--cor-cinza-claro);
    }

    tbody tr:hover {
        background-color: var(--cor-cinza);
    }
}

/* css */

.produtos{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    img{
        width: 180px;
        border-radius: 14px;
    }

    
    button{
    border-color: transparent;
    background-color: white;
}
}

.produtos .produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 14px;
    gap: 18px;
    width: 200px;
    background-color: white;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.produtos .filme:hover{
    transform: scale(1.1);
    cursor: pointer;
}

a{
    color:red ;
    margin: 10px;
    font-size: 25px;
    text-decoration: none;
    /* z-index: ; */
}

/* .form:hover{
    cursor: pointer;
    color: green;
} */

ul{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    list-style: none;
    width: 10px;
}
h1{
    padding: 10px 0;
}
